<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Table</title>
</head>
<body>

<form action='/data/create' method = "POST">
    <div class ='container'
       <p><b>employee ID </b><input type = "integer"  placeholder="Enter Emp Id" name = "Employee_id" /></p>
       <p>Name <input type = "text" placeholder="Enter name" name = "Name" /></p>
       <p>Age <input type = "integer" placeholder="Enter age"   name = "age" /></p>
       <p>position <input type = "text"  placeholder="Enter position"  name = "position" /></p>
       <input type = "submit" value = "Submit" />
    </div>
</form>
</div>
</body>
</html>